/* Button style */
.btn {
    display: block;
    margin: auto;
    border: 1px solid transparent;
}

.btn-header {
    color: $color-gold;
    text-decoration: none;
    padding: 80px 0 40px;
    max-width: 520px;
}

.btn-nav {
    color: $color-black-blue;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s linear;
    padding: 10px;
}

.btn-nav:hover {
    background-color: $color-gold;
    color: $color-light-grey;
    border-color: $color-gold;
    border-radius: 5px;
}

.btn-main-light {
    color: $color-black-blue;
    text-transform: uppercase;
    text-decoration: none;
    border-color: $color-light-grey;
    transition: all 0.2s linear;
    padding: 10px;
    max-width: 150px;
}

.btn-main-light:hover {
    background-color: $color-gold;
    color: $color-light-grey;
    border-color: $color-gold;
    border-radius: 5px;
}