/* Color scheme */
.background-primary { background-color: $color-black-blue;} /* basic dark background */
.background-secondary { background-color: $color-dark-blue;} 
.background-tertiary { background-color: $color-light-grey;} /* basic light background */
.background-quaternary { background-color: $color-white;}
.background-quinary { background-color: $color-gold;} /* accent color */

/* Main style */
* {
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    font-family: sans-serif;
    text-align: center;
    line-height: 2em;
    margin: 0;
    & > * {
        max-width: 1400px;
        margin: auto;
        border-left: 2px solid $color-light-grey;
        border-right: 2px solid $color-light-grey;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
}

p {
    color: $color-dark-blue;
}
section, footer {
    border-top: 2px solid $color-light-grey;
}

.decorated-headline {
    padding: 60px 0 30px;
    max-width: 700px;
    margin: 0 auto;
    &::before,
    &::after {
        display: block;
        content: '';
        width: 20%;
        height: 5px;
        background-color: $color-gold;
        @include small-device { /* longer width for small and above devices */ 
            width: 100px;
        }
    }
}

.decorated-headline::before {
    float: left;
}

.decorated-headline::after {
    float: right;
}