/* Color palette */
$color-black-blue: #0D1527;
$color-dark-blue: #14213D;
$color-white: #ffffff;
$color-light-grey: #E5E5E5;
$color-gold: #FCA311;
$color-gold-transparent: rgba(252,163,17,0.5);
$color-white-transparent: rgba(255,255,255,0.8);

/* Border variable */
$main-border-style: 2px solid $color-light-grey;

/* Other variables */
$one-third-width: 33.3333%;