/* Navigation bar style - designed for extra small devices */
#navigation-menu {
    padding: 40px 0;
    & ul {
        list-style-type: none;
        margin: auto;
        overflow: hidden;
        padding: 15px 0;
        min-width: 11.25em;
        & li {
            padding: 0;
        }
    }
}

.nav-logo {
    margin: 2% 10%;
    padding: 0 50px;
    background-clip: content-box;
    background-color: $color-gold;
}

@include small-device { /* equivalent for small and medium devices */
    #navigation-menu {
        & ul {
            padding: 20px 0;
            width: 36.250em;
            & li {
                float: left;
                padding-left: 2%;
            }
        }
    }
}

@include large-device {
    #navigation-menu {
        & ul {
            width: auto;
            padding: 0 0 0 20px;
        }
    }
    .nav-logo {
        float: left;
        margin: 0 2%;
        width: $one-third-width;
        padding: 0 30px;
    }
}

@include very-large-device {
    #navigation-menu {
        & ul {
            padding-left: 40px;
            & li {
                padding-left: 3%;
            }
        }
    }
}


