/* Testimonial section - testimonial as slider - designed for extra small device */
.testimonial {
    clear: both;
    width: 100%;
    min-height: 40.625em;
    margin: auto;
}

.testimonial-container {
    position: relative;
    width: 90%;
    min-height: 14.375em;
    margin: 50px auto 0;
}

.testimonial-items { /* Position of the testimonial's quotes */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & h3 {
        padding-top: 50px;
    }
    & p {
        padding: 0 15%;
    }
    & a { /* the container/parent of arrows */
        position: relative;
        display: block;
        width: 100%;
        height: 0px; /* in this case the parent of link/pointers is not visible but pointers could be positioned */
        float: left;
        font-size: 4em;
        color: $color-dark-blue;
        &:hover {
            color: $color-white;
        }
    }
    & i { /* position of arrows */
        position: absolute; 
        bottom: -310px;
    }
    & .fa-caret-left {
        left: 40%;
    }
    & .fa-caret-right {
        right: 40%;
    }    
}

[class^="testimonial-item"] { /* values for each 3 quotes */
    width: 100%;
    min-height: 14.375em;
    background-color: $color-gold; /* background allows to see the item */
    border-radius: 5px;
}

.testimonial-item-1 { /* allow to display the first quote */
    z-index: 1;
}

#testimonial-item-2:target ~ .testimonial-item-2,
#testimonial-item-3:target ~ .testimonial-item-3 { /* Other images will replace the first image when are displayed */
    z-index: 2;
}

#quotation-mark::before,
#quotation-mark::after {
    position: absolute;
    display: block;
    font-size: 15em;
    color: $color-black-blue;
    z-index: 10;
}

#quotation-mark::before { 
    content: open-quote;
    top: 50px;
    left: 30px;
}

#quotation-mark::after { 
    content: close-quote;
    bottom: -70px;
    right: 30px;
}    

@include small-device {
    .testimonial {
        min-height: 34.375em;
    }
    
    /* Position of the testimonial's quotes */
    .testimonial-items a { /* the container/parent of arrows */
        font-size: 5em;
    }

    .testimonial-items i { /* position of arrows */
        top: 60px;
    }

    .testimonial-items .fa-caret-left {
        left: 10px;
    }

    .testimonial-items .fa-caret-right {
        right: 10px;
    }    
    
    #quotation-mark::before { 
        left: 60px;
    }
    
    #quotation-mark::after { 
        right: 60px;
    }
}

@include medium-device {
    
    .testimonial-container {
        width: 80%;
    }
    
    /* Position of the testimonial's quotes */
    .testimonial-items .fa-caret-left {
        left: 30px;
    }

    .testimonial-items .fa-caret-right {
        right: 30px;
    }    
    
    #quotation-mark::before { 
        left: 100px;
    }
    
    #quotation-mark::after { 
        right: 100px;
    }
}

@include large-device {
    .testimonial {
        min-height: 31.250em;
    }
}

@include very-large-device {
    .testimonial-container {
        min-height: 12.500em;
    }

    /* Position of the testimonial's quotes */
    .testimonial-items p {
        padding: 0 10%;
    }

    [class^="testimonial-item"] { /* values for each 3 quotes */
        min-height: 12.500em;
    }
}