/* Gallery section - designed for extra-small device */
.gallery-section {
    clear: both;
}

.gallery-images-containter {
    padding: 50px 0;
}

.gallery-item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 4%;
    & img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
}

.image-link {
    opacity: 0; /* until hover this element is not visible */
    position: absolute;
    top: 0;
    left: calc((100% - 300px) / 2); /* ((100% of width - the size of element) / 2 [2 margins: left and right]) */
    width: 300px; /* the same size as img item */
    height: 300px;
    background-color: $color-gold-transparent; /* accent color with transparency */
    border-radius: 15px;
    transition: all 0.5s linear;
    &:hover {
        opacity: 1; /* after hover this element is visible */
        color: $color-white;
    }
    & i {
        font-size: 5em;
        margin: 60px 0 10px;
    }
    & p {
        font-size: 1.5em;
        color: $color-white;
        padding: 0 20px;
    }
}

@include small-device {
    .gallery-images-containter {
        overflow: hidden;
    }
    
    .gallery-item {
        width: 50%;
        height: 50%;
        float: left;
        & img {
            width: 270px;
            height: 270px;
        }
    }
    
    .image-link {
        left: calc((100% - 270px) / 2); /* ((100% of width - the size of element) / 2 [2 margins: left and right]) */;
        width: 270px; /* the same size as img item */
        height: 270px;
    }
}

@include medium-device {
    .gallery-item {
        float: left;
        & img {
            width: 330px;
            height: 330px;
        }
    }
    
    .image-link {
        left: calc((100% - 330px) / 2); /* ((100% of width - the size of element) / 2 [2 margins: left and right]) */;
        width: 330px; /* the same size as img item */
        height: 330px;
        & i {
            margin-left: 80px;
        }
    }
}

@include large-device {
    .gallery-item {
        width: 25%;
        height: 25%;
        & img {
            width: 220px;
            height: 220px;
        }
    }
    
    .image-link {
        left: calc((100% - 220px) / 2); /* ((100% of width - the size of element) / 2 [2 margins: left and right]) */;
        width: 220px; /* the same size as img item */
        height: 220px;
        & i {
            font-size: 4em;
            margin-left: 40px;
        }
        & p {
            font-size: 1.2em;
        }
    }
}

@include very-large-device {    
    .gallery-item {
        & img {
            width: 280px;
            height: 280px;
        }
    }
    
    .image-link {
        left: calc((100% - 280px) / 2); /* ((100% of width - the size of element) / 2 [2 margins: left and right]) */;
        width: 280px; /* the same size as img item */
        height: 280px;
        & i {
            font-size: 5em;
            margin-left: 60px;
        }
        & p {
            font-size: 1.5em;
        }
    }
}



